* {
    margin: 0;
    padding: 0;
    color:white;
}

/*Variables*/
:root {
    --page-bg-img: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFxo54taCQTvJMCEXn9T94pztLCorrOVtNsQ&usqp=CAU");
    --main-bg-img: url("https://media.discordapp.net/attachments/817494956037111848/1180154606865612800/bild.png?ex=657c63a0&is=6569eea0&hm=868c80a848e852161a1e0443ed77c8f705f6ac796023a84c85cc84d2b226e108&=&format=webp&quality=lossless&width=1067&height=670");
    --main-bg-color: #252526;
    --main-accent-color: #2d2d2d;

    --bform-tx-color: white;
    --bform-inp-bg-color: #2d2d2d;
    --bform-tx-color-sel: rgb(79, 255, 79);
    --bform-inp-bg-color-sel: #646464;
    --bform-inp-padding: 4px;
    --bform-inp-border: 1px solid #3b3b3b;
    --bform-inp-border-rad: 10px;
    --bform-select-hpadding: 7px;
    --bform-select-vpadding: 5px;
    --bform-p-tmargin: 7px;
    --bform-outer-margin: 20px;
    --bform-retmsg-suc-color: green;
    --bform-retmsg-fai-color: red;
    --bform-retmsg-war-color: orange;

    --group-pic-margin: 30px;
    --group-pic-width: 800px;
    --group-pic-height: 270px;
}

/*Easy to use classes & tags*/
.hidden {
    display: None;
}

/*Main site things*/
html {
    height: var(--page-height);
}

body {
    background-image: var(--page-bg-img);
    height: 100%;
}
header {
    text-align: center;
    align-content:center;
    display:flex;
}
main {
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-accent-color);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 100%;
}

/* PAGE CONTENT BELLOW HERE */
/*Booking*/
.booking-form {
    margin: var(--bform-outer-margin);
}
.book-tab-ret-msg {
    margin: var(--bform-outer-margin);
}
.ret-msg-success {
    color: var(--bform-retmsg-suc-color);
}
.ret-msg-failed {
    color: var(--bform-retmsg-fai-color);
}
.ret-msg-warning {
    color: var(--bform-retmsg-war-color);
}
.booking-form h1, .booking-form p, .booking-form input, .booking-form option {
    color: var(--bform-tx-color);
}
.booking-form p {
    margin-top: var(--bform-p-tmargin);
}
.booking-form input {
    background-color: var(--bform-inp-bg-color);
    padding: var(--bform-inp-padding);
    border: var(--bform-inp-border);
    border-radius: var(--bform-inp-border-rad);
}
.booking-form option {
    background-color: var(--bform-inp-bg-color);
}
.booking-form option:checked {
    background-color: var(--bform-inp-bg-color-sel);
    color: var(--bform-tx-color-sel);
}
.booking-form select {
    border-radius: var(--bform-inp-border-rad);
    padding-left: var(--bform-select-hpadding);
    padding-right: var(--bform-select-hpadding);
    padding-top: var(--bform-select-vpadding);
    padding-bottom: var(--bform-select-vpadding);
    background-color: var(--bform-inp-bg-color);
}
#booking-form-seg1 {
    display: Block;
}
#booking-form-seg2 {
    display: None;
}
#booking-form-seg3 {
    display: None;
}
#form-decrement-btn {
    display: None;
}
#form-increment-btn {
    display: block;
}
#form-send-btn {
    display: None;
    background-color: #2f4329;
}
#form-increment-btn {
    background-color: #372f58;
}
#form-decrement-btn {
    background-color: #3c2828;
}

/*Main content*/
#relWithoutRetMsg {
    border: none;
    background-color: rgba(0,0,0,0);
    text-decoration: underline;
}
#relWithoutRetMsg:hover {
    cursor: pointer;
}
#title-text {
    width: 70%;
    text-align: center;
    font-size: 58px;
    border-bottom: 3px solid white;
    margin-left: 15%;
    margin-right: 15%;
}

.group-picture-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: var(--group-pic-height);
}

.group-picture {
    background-color: gray;
    margin: var(--group-pic-margin);
    width: auto;
    height: auto;
    max-width: var(--group-pic-width);
    max-height: var(--group-pic-height);
    object-fit: contain;
}

#employees {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
}
.employee {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.employee-img {
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    margin-right: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: gray;
}
#owner {
}
#chef1 {
}
#chef2 {
}
#chef3 {
}

#produces {
    background-color: rgb(97, 0, 0);
    margin-top: 15px;
    width: 60vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.produce {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.produce-meat {

}
.produce-greens {

}
.meat-img {
    width: 150px;
    height: 150px;
    background-color: gray;
}
.greens-img {
    width: 150px;
    height: 150px;
    background-color: grey;
}
#about {
    background-color: rgb(33, 134, 33);
    margin-top: 100px;
    width: 60vw;
    height: 150px;
}
#contact {
    background-color: rgb(86, 86, 86);
    margin-top: 33px;
    width: 60vw;
    height:50px;
}

.vert-space-top {
    display: block;
    margin-top: 15px;
}