* {
    margin: 0;
    padding: 0;
    color:white;
}

/*Variables*/
:root {
    --page-bg-img: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFxo54taCQTvJMCEXn9T94pztLCorrOVtNsQ&usqp=CAU");
    --main-bg-img: url("https://media.discordapp.net/attachments/817494956037111848/1180154606865612800/bild.png?ex=657c63a0&is=6569eea0&hm=868c80a848e852161a1e0443ed77c8f705f6ac796023a84c85cc84d2b226e108&=&format=webp&quality=lossless&width=1067&height=670");
    --main-bg-color: #252526;
    --main-accent-color: #2d2d2d;

    --bform-tx-color: white;
    --bform-inp-bg-color: #2d2d2d;
    --bform-tx-color-sel: rgb(79, 255, 79);
    --bform-inp-bg-color-sel: #646464;
    --bform-inp-padding: 4px;
    --bform-inp-border: 1px solid #3b3b3b;
    --bform-inp-border-rad: 10px;
    --bform-select-hpadding: 7px;
    --bform-select-vpadding: 5px;
    --bform-p-tmargin: 7px;
    --bform-outer-margin: 20px;
    --bform-retmsg-suc-color: green;
    --bform-retmsg-fai-color: red;
    --bform-retmsg-war-color: orange;

    --menu-upper-height: 80%;
    --menu-order-height: 50%;
    --menu-bottom-height: 20%;
    --menu-categories-bgcolor: #353535;
    --menu-fooditems-bgcolor: black;
    --menu-order-bgcolor: rgba(0,0,0,0);
    --menu-category-bgcolor: #2d2d2d;
    --menu-category-sel-bgcolor: #454545;
    --menu-addbtn-bgcolor: rgb(69, 166, 17);
    --menu-rembtn-bgcolor: rgb(166, 2, 2);

    --menu-category-border-width: 1px;
    --menu-category-border: var(--menu-category-border-width) solid #414141;
    --menu-category-sel-border: var(--menu-category-border-width) solid #717171;
    --menu-category-margin: 2px;

    --menu-hambcat-bgcolor: black;
    --menu-meatcat-bgcolor: black;
    --menu-salacat-bgcolor: black;
    --menu-drincat-bgcolor: black;
    --menu-dsrtcat-bgcolor: black;

    --menu-content-border: 1px solid gray;
    --menu-content-border-size: 2px;

    --menu-upper-border: 1px solid gray;
    --menu-upper-border-size: 2px;

    --menu-order-main-border: 1px solid #333333;
    --menu-order-main-border-size: 2px;

    --menu-price-font-size: 40px;

    --menu-tablenr-width: 30%;
    --menu-tablenr-color: white;
    --menu-tablenr-bgcolor: #333333;
    --menu-tablenr-margin-h: 1.9vh;
    --menu-tablenr-margin-w: 1vw;
    --menu-tablenr-fontsize: 20px;

    --menu-orderbtn-width: 30%;
    --menu-orderbtn-color: white;
    --menu-orderbtn-bgcolor: #333333;
    --menu-orderbtn-margin-h: 1.9vh;
    --menu-orderbtn-margin-v: 1vw;
    --menu-orderbtn-fontsize: 20px;

    --group-pic-margin: 30px;
    --group-pic-width: 800px;
    --group-pic-height: 270px;
}

/*Easy to use classes & tags*/
.hidden {
    display: None;
}

/*Main site things*/
html {
    height: var(--page-height);
}

body {
    background-image: var(--page-bg-img);
    height: 100%;
}
header {
    text-align: center;
    align-content:center;
    display:flex;
}
main {
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-accent-color);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 100%;
}

/* PAGE CONTENT BELLOW HERE */
/*Booking*/
.booking-form {
    margin: var(--bform-outer-margin);
}
.book-tab-ret-msg {
    margin: var(--bform-outer-margin);
}
.ret-msg-success {
    color: var(--bform-retmsg-suc-color);
}
.ret-msg-failed {
    color: var(--bform-retmsg-fai-color);
}
.ret-msg-warning {
    color: var(--bform-retmsg-war-color);
}
.booking-form h1, .booking-form p, .booking-form input, .booking-form option {
    color: var(--bform-tx-color);
}
.booking-form p {
    margin-top: var(--bform-p-tmargin);
}
.booking-form input {
    background-color: var(--bform-inp-bg-color);
    padding: var(--bform-inp-padding);
    border: var(--bform-inp-border);
    border-radius: var(--bform-inp-border-rad);
}
.booking-form option {
    background-color: var(--bform-inp-bg-color);
}
.booking-form option:checked {
    background-color: var(--bform-inp-bg-color-sel);
    color: var(--bform-tx-color-sel);
}
.booking-form select {
    border-radius: var(--bform-inp-border-rad);
    padding-left: var(--bform-select-hpadding);
    padding-right: var(--bform-select-hpadding);
    padding-top: var(--bform-select-vpadding);
    padding-bottom: var(--bform-select-vpadding);
    background-color: var(--bform-inp-bg-color);
}
#booking-form-seg1 {
    display: Block;
}
#booking-form-seg2 {
    display: None;
}
#booking-form-seg3 {
    display: None;
}
#form-decrement-btn {
    display: None;
}
#form-increment-btn {
    display: block;
}
#form-send-btn {
    display: None;
    background-color: #2f4329;
}
#form-increment-btn {
    background-color: #372f58;
}
#form-decrement-btn {
    background-color: #3c2828;
}

/*menu*/
#menu-order-upper {
    display: flex;
    border-top-right-radius: var(--sb-content-border-rad);
    border-top-left-radius: var(--sb-content-border-rad);
    height: var(--menu-upper-height);
    width: 100%;
    border: var(--menu-upper-border);
    border-width: 0 0 var(--menu-upper-border-size) 0;
}
.menu-category-segment {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;
    background-color: var(--menu-categories-bgcolor);
    border-top-left-radius: var(--sb-content-border-rad);
    align-content: flex-start
}
.menu-category-segment img:first-child {
    border-radius: var(--sb-content-border-rad) 0 0 0;
}
.menu-category-segment img {
    width: calc(50% - var(--menu-category-margin) - calc( var(--menu-category-border-width) * 6 ) );
    object-fit: contain;
    background-color: var(--menu-category-bgcolor);
    border: var(--menu-category-border);
    margin: var(--menu-category-margin);
}

.menu-content {
    display: none;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    background-color: var(--menu-fooditems-bgcolor);
    border: var(--sb-content-border);
    border-top-right-radius: var(--sb-content-border-rad);
    overflow-y: scroll;
    overflow-x: hidden;
    border: var(--menu-content-border);
    border-width: 0 0 0 var(--menu-content-border-size);
}
.menu-item {
    padding: 0 5% 3% 0;
    width: 20%;
}
.menu-item img {
    width: 100%;
}
.menu-item-info {
    text-align: center;
}
.menu-items-btn-positive {
    width: 20%;
    background-color: var(--menu-addbtn-bgcolor);
    border-radius: 100%;
}
.menu-items-btn-negative {
    width: 20%;
    background-color: var(--menu-rembtn-bgcolor);
    border-radius: 100%;
}
.menu-items-btn-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cart-content {
    display: none;
}
#menu-order-bottom {
    height: var(--menu-bottom-height);
}
#menu-order-main {
    display: flex;
    flex-direction: row;
    height: var(--menu-order-height);
    background-color: var(--menu-order-bgcolor);
    border: var(--menu-order-main-border);
    border-width: 0 0 var(--menu-order-main-border-size) 0;
}
#price-display {
    width: 40%;
    font-size: var(--menu-price-font-size);
    align-self: center;
    text-align: center;
}
#table-number {
    width: var(--menu-tablenr-width);
    color: var(--menu-tablenr-color);
    background-color: var(--menu-tablenr-bgcolor);
    text-align: center;
    margin-top: var(--menu-tablenr-margin-h);
    margin-bottom: var(--menu-tablenr-margin-h);
    margin-left: var(--menu-tablenr-margin-w);
    margin-right: var(--menu-tablenr-margin-w);
    font-size: var(--menu-tablenr-fontsize);
}
#order-button {
    width: var(--menu-orderbtn-width);
    color: var(--menu-orderbtn-color);
    background-color: var(--menu-orderbtn-bgcolor);
    text-align: center;
    margin-top: var(--menu-orderbtn-margin-h);
    margin-bottom: var(--menu-orderbtn-margin-h);
    margin-left: var(--menu-orderbtn-margin-w);
    margin-right: var(--menu-orderbtn-margin-w);
    font-size: var(--menu-orderbtn-fontsize);
}

.menu-category-segment .selected-menu-category {
    background-color: var(--menu-category-sel-bgcolor);
    border: var(--menu-category-sel-border);
}

#hamburger-content {
    display: flex;
    background-color: var(--menu-hambcat-bgcolor);
}
#meat-content {
    background-color: var(--menu-meatcat-bgcolor);
}
#salad-content {
    background-color: var(--menu-salacat-bgcolor);
}
#drinks-content {
    background-color: var(--menu-drincat-bgcolor);
}
#deserts-content {
    background-color: var(--menu-dsrtcat-bgcolor);
}

/*Main content*/
#relWithoutRetMsg {
    border: none;
    background-color: rgba(0,0,0,0);
    text-decoration: underline;
}
#relWithoutRetMsg:hover {
    cursor: pointer;
}
#title-text {
    width: 70%;
    text-align: center;
    font-size: 58px;
    border-bottom: 3px solid white;
    margin-left: 15%;
    margin-right: 15%;
}

.group-picture-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: var(--group-pic-height);
}

.group-picture {
    background-color: gray;
    margin: var(--group-pic-margin);
    width: auto;
    height: auto;
    max-width: var(--group-pic-width);
    max-height: var(--group-pic-height);
    object-fit: contain;
}

#employees {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
}
.employee {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.employee-img {
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    margin-right: 15px;
    object-fit: cover;
    overflow: hidden;
    background-color: gray;
    border-radius:10px;
}
#owner {
}
#chef1 {
}
#chef2 {
}
#chef3 {
}

#produces {
    background-color: rgb(97, 0, 0);
    margin-top: 15px;
    width: 60vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.produce {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.produce-meat {

}
.produce-greens {

}
.meat-img {
    width: 150px;
    height: 150px;
    background-color: gray;
}
.greens-img {
    width: 150px;
    height: 150px;
    background-color: grey;
}
#about {
    background-color: rgb(33, 134, 33);
    margin-top: 100px;
    width: 60vw;
    height: 150px;
}
#contact {
    background-color: rgb(86, 86, 86);
    margin-top: 33px;
    width: 60vw;
    height:50px;
}

.vert-space-top {
    display: block;
    margin-top: 15px;
}
