/*Variables*/
:root {
    /*Tab styling*/
    --sb-tab-height: 36vh;
    --sb-tab-btn-height: 36vh;
    --sb-tab-btn-voffset: 15vh;
    --sb-tab-btn-width: 3.6vw;
    --sb-tab-border-w: 0.18vw;
    --sb-tab-border: solid white;
    --sb-tab-border-rad: 20px 0 0 20px;
    --sb-tab-inner-border-rad: 17px 0 0 17px;
    --sb-tab-font-size: 23.5px;
    --sb-tab-text-rmar: 0px;
    --sb-tab-border-width: var(--sb-tab-border-w) 0 var(--sb-tab-border-w) var(--sb-tab-border-w);
    --sb-tab-fill-height: calc(var(--sb-tab-height) - var(--sb-tab-btn-voffset) + 15px);
    --sb-tab-fill-height-n: calc( var(--sb-tab-fill-height) * -1);
    --sb-tab-collapsed-pos: -1vw;
    --sb-tab-pos: 0vw;
    --tab-bg-img: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg");
    /*Tab colors (they apply to content)*/
    --sb-tab1-bg-color:    #252526;
    --sb-tab1-hover-color: #2d2d2d;
    --sb-tab2-bg-color:     #252526;
    --sb-tab2-hover-color: #2d2d2d;
    /*Sidebar Content*/
    --sb-content-width: 60vw;
    --sb-content-height: 80vh;
    --sb-content-mv-offset: 15.26vw;
    --sb-content-to-offset: -10vh;
    --sb-content-border: 2px solid #686868;
    --sb-content-border-rad: 30px;
}

/*Sidebar*/
#sidebar-menu {
    position: fixed;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
}

.sidebar-tab {
    color: #fff;
    border: none;
    margin-bottom: var( --sb-tab-fill-height-n );
    cursor: pointer;
    z-index: 10;
    text-align: left;
    transition: background-color 0.3s;
    height: var(--sb-tab-height);
    position: relative;
    right: var( --sb-tab-collapsed-pos );
    display: flex;
    flex-direction: row;
    border: var(--sb-tab-border);
    border-radius: var(--sb-tab-border-rad);
    border-width: var(--sb-tab-border-width);
    transition: right 0.2s;
}

/*Sidebar label*/
.sidebar-label {
    height: var(--sb-tab-btn-height);
    width: var(--sb-tab-btn-width);
    border-radius: var(--sb-tab-inner-border-rad);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--tab-bg-img);
    background-position: center;
    background-size: cover;
}

.sidebar-label p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: var(--sb-tab-font-size);
    border-right: white 2px solid;
    margin-right: var(--sb-tab-text-rmar);
    user-select:none;
}

/*Sidebar content*/
.sidebar-content {
    height: var(--sb-content-height);
    width: var(--sb-content-width);
    position: absolute;
    top: var(--sb-content-to-offset);
    left: calc( calc(var(--sb-content-width) + var(--sb-content-mv-offset)) * -1);
    border: var(--sb-content-border);
    border-radius: var(--sb-content-border-rad);
    scale: 0;
    transition: 0.15s;
}

/*Colors*/
#tab1 .sidebar-label {
    background-color: var(--sb-tab1-bg-color);
}
#tab1 .sidebar-label:hover {
    background-color: var(--sb-tab1-hover-color);
}
#tab1 + .sidebar-content {
    background-color: var(--sb-tab1-bg-color);
}

#tab2 .sidebar-label {
    background-color: var(--sb-tab2-bg-color);
}
#tab2 .sidebar-label:hover {
    background-color: var(--sb-tab2-hover-color);
}
#tab2 + .sidebar-content {
    background-color: var(--sb-tab2-bg-color);
}